<%= form_with(model: wine, local: true) do |form| %>
  <% if wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% wine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <!-- Formulario anidado -->
  <div class="container">
    <%= form.fields_for :blends do |ff| %>
      <%= render 'blend_fields', f: ff  %>
    <% end %>
  </div>
  <!-- Ocupando Cocoon -->
  <div class="links pb-3">
    <%= link_to_add_association 'Add Strain', form, :blends, class: 'btn btn-primary' %>
  </div>

  <!-- Formulario anidado -->
  <div class="container">
    <div class="form-group">
      <%= form.fields_for :grades do |ff| %>
        <%= render 'grade_fields', f: ff  %>
      <% end %>
    </div>
  </div>

  <!-- Ocupando Cocoon -->
  <div class="links pb-3">
    <%= link_to_add_association 'Add Score', form, :grades, class: 'btn btn-primary' %>
  </div>

  <!-- Si omito lo anterior "Add Score", tendria que agregar en el controlador de Wine -->
  <!-- @wine.grades.build -->
  <!-- Pero al editar el vino y si este ya tiene un enologo, se agregaria automaticamente un campo para seleccionar otro enologo -->
  <!-- Para evitar lo anterior, se agrega lo siguiente @wine.grades.build unless @wine.grades.present? y asi, puedi seguir ocupando el "Add Score" en este edit-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
